h1, p {
  text-align: center;
}

#main {
  width: 600px;
  height: 800px;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#solar {
  width: 50%;
  height: 50px;
  background-image: repeating-linear-gradient(90deg,rgb(180, 180, 180), rgb(180, 180, 180) 7%, rgb(220, 220, 220) 10%);
  border: 1px solid rgb(100, 100, 100);
  position: relative;
}

#shimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(130deg, transparent 40%, rgba(250, 250, 250, 0.6) 60%, transparent 80%);
  z-index: 1;
}

#display {
  width: 100%;
  height: 140px;
  border: 2px solid rgb(80, 80, 80);
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#history {
  width: 100%;
  height: 40%;
  text-align: right;
}

#input {
  width: 100%;
  height: 60%;
  text-align: right;
}

#power {
  width: 100%;
  height: 10%;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

#top-buttons {
  width: 100%;
  height: 12%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#body {
  width: 100%;
  height: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nobutton {
  width: 120px;
  height: 80px;
  border: 10px solid transparent;
}

.button {
  width: 120px;
  height: 80px;
  display: flex;
  border-width: 10px;
  border-style: solid;
  border-top-color: rgb(200, 200, 200);
  border-right-color: rgb(80, 80, 80);
  border-bottom-color: rgb(50, 50, 50);
  border-left-color: rgb(180, 180, 180);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  cursor: pointer;
  font-family: sans-serif;
}

.button:active {
  border-top-color: rgb(80, 80, 80);
  border-right-color: rgb(180, 180, 180);
  border-bottom-color: rgb(180, 180, 180);
  border-left-color: rgb(80, 80, 80);
}

.clear {
  background-image: linear-gradient(90deg, rgb(250, 150, 0), rgb(255, 200, 40), rgb(250, 150, 0));;
  border-top-color: rgb(250, 200, 80);
  border-right-color: rgb(220, 120, 40);
  border-bottom-color: rgb(200, 80, 0);
  border-left-color: rgb(255, 220, 120);
}

.clear:active {
  border-top-color: rgb(220, 120, 40);
  border-right-color: rgb(250, 200, 80);
  border-bottom-color: rgb(250, 200, 80);
  border-left-color: rgb(200, 80, 0);
}

.off {
  color: white;
  border-top-color: rgb(200, 0, 0);
  border-right-color: rgb(150, 0, 0);
  border-bottom-color: rgb(100, 0, 0);
  border-left-color: rgb(250, 0, 0);
  background-image: linear-gradient(90deg, rgb(200, 0, 0), rgb(255, 60, 60), rgb(200, 0, 0));
}

.off:active {
  border-top-color: rgb(150, 0, 0);
  border-right-color: rgb(250, 0, 0);
  border-bottom-color: rgb(250, 0, 0);
  border-left-color: rgb(150, 0, 0);
}

.number {
  background-image: linear-gradient(90deg, rgb(150, 150, 150), rgb(200, 200, 200), rgb(150, 150, 150));
}